# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/
.github/

# OS
.DS_Store
Thumbs.db

# Static files
/static/
/media/
